<app-appheader></app-appheader>
<app-appmenu></app-appmenu>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Dashboard
      <small>Version 2.0</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Dashboard</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Riswit</a>
        </div>
        <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
          <li *ngIf="authority === 'user'" class="nav-item">
            <a class="nav-link" routerLink="user">User Board</a>
          </li>
          <li *ngIf="authority === 'admin'" class="nav-item">
            <a class="nav-link" routerLink="admin">Admin Board</a>
          </li>
          <li *ngIf="authority === 'pm'" class="nav-item">
            <a class="nav-link" routerLink="pm">PM Board</a>
          </li>
          <li *ngIf="!authority" class="nav-item">
            <a class="nav-link" routerLink="auth/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  
  </section>
</div>
<app-appfooter></app-appfooter>
<app-appsettings></app-appsettings>